.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.15s;
}

button.primary {
  color: #2b0955;
  background-color: #fbc508;
}

button.primary:hover {
  background-color: #fbc508b3;
}

button.secondary {
  color: #ffffff;
  background-color: inherit;
  border: 2px solid #fff;
}

button.secondary:hover {
  color: #ffffffcc;
  border: 2px solid #ffffffcc;
}
