.container {
  background-color: #f8f6fa;
  width: 100%;
  height: 650px;
  padding: 30px 230px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
}

.title {
  color: #2b0955;
  line-height: 36px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.title:after {
  content: "";
  background: #fbc508;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 3px;
  width: 40px;
  border-radius: 3px;
}

.contact_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.contact_left_side {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 380px;
}

.contact_description {
  color: #363636;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.whatsapp_container {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  align-items: center;
}

.whatsapp_link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-style: normal;
  text-decoration-line: underline;
  color: #2b0955;
}

.desc_link {
  color: #363636;
  font-weight: 700;
}

.contact_right_side {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 430px;
}

.button_container {
  align-self: flex-end;
  width: 186px;
}

.contact_description_purple {
  font-weight: 700;
  color: #7000ff;
}

@media (max-width: 1280px) {
  .container {
    padding: 20px 120px;
  }
}

@media (max-width: 1024px) {
  .contact_container {
    flex-direction: column;
    align-items: center;
  }
  .container {
    height: 860px;
  }
}
