.header {
  height: 70px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 110px;
  position: relative;
}

.hamburger_links {
  position: absolute;
  top: 50px;
  background-color: #fff;
  list-style: none;
  color: #fff;
  width: 200px;
  display: flex;
  left: 0;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px;
}

@media (min-width: 1024px) {
  .hamburger_container {
    display: none;
  }
}

@media (max-width: 640px) {
  .header {
    padding: 0 50px;
  }
}
