.nav {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.links {
  display: flex;
  flex-direction: row;
  list-style: none;
  column-gap: 90px;
}

.link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  transition: 0.15s;
}

.link.dark {
  color: #000;
}

.link.dark:hover {
  color: #000000cc;
}

.link.light {
  color: #fff;
}

.link.light:hover {
  color: #ffffffcc;
}

.link:hover {
  text-decoration: underline;
}

.icons {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

@media (max-width: 1024px) {
  .links {
    display: none;
  }
}

.dark {
  color: #000;
}

.light {
  color: #fff;
}
